* {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  text-decoration: none;
  list-style: none;
}

/* Header Styles */

.headerContainer {
  width: 100%;
  height: 80px;
  display: block;
  background-color: royalblue;
}
.innerHeader {
  width: 90%;
  display: block;
  height: 100%;
  margin: 0 auto;
}
.logoContainer {
  height: 100%;
  display: table;
  float: left;
}
.logoContainer h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-family: "roboto";
  font-weight: 800;
}

.logoContainer span {
  font-weight: 200;
}

.headerNavigation {
  float: right;
  height: 100%;
}

.headerNavigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.headerNavigation a:last-child {
  padding-right: 0;
}
.headerNavigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: "roboto";
  font-size: 16px;
}





/* Footer Styles */

.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: royalblue;
  position: absolute;
  bottom: 0;
}

.innerFooter{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.innerFooter .logoContainer{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.innerFooter .logoContainer img{
  width: 65px;
  height: auto;
}

.innerFooter .footerThird {
  width: calc(21.666666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.innerFooter .footerThird:last-child {
  margin-right: 0;
}

.innerFooter .footerThird h2{
  font-family: roboto;
  color: white;
  font-size: 20px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.innerFooter .footerThird a{
  font-family: roboto;
  color: white;
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-bottom: 5px;
}

.innerFooter .footerThird li{
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}


@media(max-width: 700px){
  .footer .innerFooter{
    width: 90%;
  }

  .innerFooter .logoContainer,
  .innerFooter .footerThird{
    width: 100%;
    margin-bottom: 30px;
  }
}